{% extends 'base.html' %}
{% load static %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us</h1>
            <p class="lead text-white-50">Welcome to our Ecommerce website.</p>
        </div>
    </div>
</header>

<div class="container mt-5 mb-5">
    <p align="justify">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec id mauris ut nisl elementum dapibus.
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.
    </p>
</div>

{% endblock %}
